.about {
  grid-column: col-start 1 / -1;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr [col-end]); }
  .about__goal {
    background-color: aqua;
    height: 11rem;
    width: 11rem;
    margin: 0 auto;
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    display: grid;
    justify-content: center;
    align-items: center; }
    .about__goal__icon {
      height: 4rem;
      width: 4rem;
      fill: #000; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.heading {
  grid-column: col-start 1 / -1;
  font-size: 4rem;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  grid-column-gap: 2rem; }
  .heading::before, .heading::after {
    content: "";
    height: 2px;
    display: block;
    background-color: currentColor; }

.contact {
  background-color: aquamarine; }

.footer {
  background-color: palegoldenrod; }

.home {
  background-color: aquamarine;
  grid-column: 1 / -1;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center; }
  .home__title {
    height: 20vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.projects {
  background-color: blueviolet; }

.container {
  display: grid;
  grid-template-columns: repeat(8, [col-start] 1fr [col-end]);
  grid-row-gap: 3rem; }
