.about {
  grid-column: col-start 2 / -2;

  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
  grid-template-rows: 5vw 2fr repeat(2, 1fr);
  margin: 3rem 0;
  grid-gap: 2rem;

  &__heading {
    grid-column: col-start 1 / -1;
    font-size: 2rem;
    color: black;

    display: grid;
    justify-content: center;

    &::after {
      content: "";
      height: 2px;
      display: block;
      background-color: currentColor;
    }
  }

  &__image {
    background-color: yellow;
    grid-column: col-start 1 / col-end 2;

    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    height: 15vw;
    width: 15vw;

    margin: 0 auto;
  }

  &__info {
    background-color: aqua;
    grid-column: col-start 1 / col-end 2;
    grid-row: 3 / 4;
  }

  &__skills {
    background-color: orangered;
    grid-column: col-start 3 / span 2;
    grid-row: 2 / 4;
  }

  &__goals {
    background-color: fuchsia;
    grid-column: col-start 1 / -1;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;

    &__box {
      background-color: red;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      height: 5vw;
      width: 5vw;
      margin: 0 auto;

      display: flex;
    }
  }
}
