.about {
  grid-column: col-start 1 / -1;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(4, [col-start] 1fr [col-end]);

  &__goal {
    background-color: aqua;
    height: 11rem;
    width: 11rem;
    margin: 0 auto;

    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );

    display: grid;
    justify-content: center;
    align-items: center;

    &__icon {
      height: 4rem;
      width: 4rem;
      fill: #000;
    }
  }
}
